<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <% let password = [] %>
     
    <% for (let i = 0; i < locals.nr_letters; i++) { %>
        <% password += locals.letters[Math.floor(Math.random() * locals.letters.length)]; %>
    <% } %>
    <% for (let i = 0; i < locals.nr_numbers; i++) { %>
        <% password += locals.numbers[Math.floor(Math.random() * locals.numbers.length)]; %>
    <% } %>
    <% for (let i = 0; i < locals.nr_symbols; i++) { %>
        <% password += locals.symbols[Math.floor(Math.random() * locals.symbols.length)]; %>
    <% } %>

    <%var shuffled = password.split('').sort(function(){return 0.5-Math.random()}).join('');%>
    <h1 class="center-me"><%= shuffled %></h1>
    <button id="copyButton" class="center-me">Copy</button>
    <script>
        const copyButton = document.getElementById("copyButton");
        const textToCopy = "<%= shuffled%>";
        
        copyButton.addEventListener("click", () => {
        navigator.clipboard.writeText(textToCopy)
        });
    </script>
</body>
</html>