
.logo{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.head{
    text-align: center;
}

.head h5{
    margin: 0%;
    padding-bottom: 6px;
}
.head h6{
    margin: 0%;
}
.head h1{
    margin: 0%;
    padding-bottom: 10px;
    color: navy;
}
.head h3{
    color: #2E5A88;
}
.student_details{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:30px;
}
#h4_span{
    font-weight: normal;
}
#SoA{
    float: left;
    margin-top: 80px;
}
#IS{
    float: right;
    margin-top: 80px;
}
#btn-print{
    float: none;
}