*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.side_bar{
    margin-right: 10px;
    display: fixed;
    position: sticky;
    float: left;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    padding: 30px 15px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

ul{
    list-style: none;
    padding: 0 15px;
}
ul li {
    margin: 29.1px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
ul li p{
    white-space: nowrap;
    margin-left: 10px;
    overflow: hidden;
}
.side_bar:hover{
    @media (min-width:600px) {
        width: 200px;
    }
}
ul li p:hover{
    display: block;
    justify-content: flex-start;
}
ul li:hover{
    opacity: 0.7;
}

