<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sidebar.css"/>
</head>
<body>
    <div class="side_bar">
        <ul>
            <li><img class="logo" height="30px" src="Asset/logo.ico"/><p>Aadharshila</p></li>
            <li><img height="30px"src="Asset/Dashboard.png"/><p>Dashboard</p></li>
            <li><img height="30px"src="Asset/Class icon.png"/><p>Class</p></li>
            <a href="/" type="submit"><li><img class="dropdown-toggle" height="30px"src="Asset/student icon.png"/><p>Student</p></li></a>
            <li><img height="30px"src="Asset/Emplyoe.png"/><p>Employe</p></li>
            <li><img height="30px"src="Asset/Fees.png"/><p>Fees</p></li>
            <li><img height="30px"src="Asset/exam.png"/><p>Exam</p></li>
            <li><img height="30px"src="Asset/Accounts.png"/><p>Accounts</p></li>
            <li><img height="30px"src="Asset/marksheet.png"/><p>Marksheet</p></li>
            <li><img height="30px"src="Asset/Certificate.png"/><p>Certificates</p></li>
        </ul>
    </div>
</body>
</html>