<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            margin: 0px;
            background-color: #F1F1F1;

        }
        #container{
            background-color: #073D7F;
            color: whitesmoke;
            padding: 10px;
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            height: 30px;
        }
    </style>
</head>
<body>
    <div id="container">
        <span id="heading" style="display: flex; flex-direction: row; float: left;">Finance Tracker</span>
        <img src="../login page logo.png" style="display: flex; flex-direction: row-reverse; float: right; height: 30px; border-radius: 50%;">
    </div>
</body>
</html>