<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Track My Expensess</title>
</head>
<body>
    <div class="card">
        <img src="./login page logo.png" class="logo">
        <form class="form" action="/login/dashboard" method="POST">
            <input type="email" id="form_input" name="Email" autocomplete="off" required placeholder="Email">
            <input type="password" id="form_input" name="Password" autocomplete="off" required placeholder="Password">
            <button class="submit" type="submit">Log In</button>
        </form>
        <a href="sign_up"><button class="sign_up">Sign Up</button></a>
        <a href=""><button class="forget_pass">Forget password</button></a>
    </div>
</body>
</html>